* { font-family: 'Suit';}
body{width: 1188px;height: 840px; border: 1px solid black; }
body .inner{margin: 28px; height: 784px;border: 1px solid ; }

.select_form{width: 250px; height: 100px; border: 1px solid black;}