* { font-family: 'Suit';}
body{width: 1188px;height: 840px; border: 1px solid black; }
body .inner{height: 784px;}
.half_form{display: inline-block; width: 534px; height: 784;border: 1px solid ; vertical-align: top; margin:28px}
.main_title{margin:0 0 20px 0; font-size: 25px; color: #001A5E}

.pet_info{height: 40px; background-color: #F7EEE3; text-align: center; line-height: 40px;margin-bottom: 12px;}

.alg_health{margin-bottom:8px;}
.alg_health div{width: 100px; margin-bottom: 8px; display: inline-block; font-size: 14px; color: #001A5E;font-weight: 600;}
.alg_health #alg, #health{color: black; font-weight: 400;}

.container_form .title{height: 36px; background-color: #B4C5E3; text-align: center;line-height: 36px; color: #001A5E; font-size: 16px; font-weight: 500;}
.container_form .title{border: 1px solid #B7C9E8;border-bottom: 0; border-top-left-radius: 10px; border-top-right-radius: 10px;}
.container_form .contents{border: 1px solid #B7C9E8; border-top: 0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
.contents div{display: inline-block; vertical-align: top;}
.current_img{width: 140px; height: 140px; border-radius: 10px; background-color: #B4C5E3; margin: 20px 40px 0px 40px}
.contents img {width: 100%;}

.petfood_info #petfood_title{display:block;width:308px;height: 28px; font-size: 14px;; background-color: #DCDDDD; margin: 20px 0 16px 0; line-height: 28px; text-align: center; }
.petfood_info .main_info{border-left: 2px solid #DCDDDD;padding-left: 16px;}
.main_info div{width: 80px; font-size: 14px; font-weight: 600; color: #595757;}
.main_info #age,#protein{font-weight: 400;}
.sub_info{margin-top: 24px;}
.sub_info img{width: 14px;height: 14px;}